@model Product
@{
    ViewData["Title"] = "Add";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pt-2">
            <h3 class="text-bg-primary"> Add New Product </h3>
            <hr />
            <div asp-validation-summary="All"></div>
            <div class="mb-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-bg-danger"></span>
                <hr/>
                <label asp-for="Price" ></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price"></span>
                <hr/>
                <div>
                    <label asp-for="CategoryId"></label>
                    <hr/>
                    <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.catItem"></select>
                </div>
                <hr />
                <div class="align-content-center">
                    <button type="submit" class=" btn btn-success" style="width:150px"> Save </button>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a asp-action="Index" asp-controller="Product" class="btn btn-danger" style="width:150px">
                        Back
                    </a>
                </div>
            </div>
        </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

